<ul class="spielerhand" *ngIf="(karten$ | async)?.length">
  <li class="karte" *ngFor="let karte of karten$ | async">
    <app-karte [karte]="karte" [klickbar]="true" (kartenEvent)="ablegen($event)"></app-karte>
  </li>
</ul>
