<div mat-dialog-content>
  <p>Wähle eine Wunschfarbe</p>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" (click)="click('KARO')">KARO</button>
  <button mat-button [mat-dialog-close]="true" (click)="click('HERZ')">HERZ</button>
  <button mat-button [mat-dialog-close]="true" (click)="click('PIK')">PIK</button>
  <button mat-button [mat-dialog-close]="true" (click)="click('KREUZ')">KREUZ</button>
</div>
