h1 {
  font-size: 80px;
  text-align: center;
  margin: 0;
}

h2 {
}

ul {
  padding-left: 0;
}

.oben {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8em, 8em));
  gap: 1em;
  list-style-type: none;
}

