<div class="spielfeld">
  <h1>MauMau</h1>
  <h2>Zieh- und Ablagestapel</h2>

  <ul class="oben" >
    <li>
      <app-ziehstapel></app-ziehstapel>
    </li>
    <li>
      <app-ablagestapel></app-ablagestapel>
    </li>
    <li>
      <app-zustand></app-zustand>
    </li>
  </ul>

  <h2>Spielerhand</h2>
  <app-spielerhand></app-spielerhand>
</div>
