/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #222222;

  font-family: fantasy;
  color: #bc9f9f;
  font-size: 20px;
  line-height: 1.7;
}
